
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1>Biblo: biblioteca popular</h1>
      <h3>Encontra y comparti libros en tu barrio!</h3>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= link_to "Donar libro", new_book_path, method: :get, class: 'navbar-brand' %>
  <%= link_to "Mis donaciones", books_path, method: :get, class: 'navbar-brand' %>
<% end %>
