@import "bootstrap-sprockets";
@import "bootstrap";
@import "flag-icon";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";
@import "typography";
@import "map";
@import "bootstrap-slider";
@import "animate";

// navbar

.navbar-brand,
.navbar-nav li a, .nav.navbar-nav.navbar-right.l-login-nav {
  color: $light-font-color;
  line-height: 50px;
  height: 50px;
  padding-top: 0;
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
  background-color: $main-dark-color;
  border-bottom: 3px solid $contrast-color;
}

.navbar-selector:hover {
  border-bottom: 3px solid $contrast-color;
  color: $contrast-color;
  cursor: pointer;
}

ul.nav.navbar-nav li a:hover {
  color: $contrast-color;
  background-color: $main-dark-color;
}

.navbar {
  background-color: $main-dark-color;
  margin : 0 !important;
  font-family: 'Pacifico', cursive;;
}


.round-thumbnail {
  border-radius: 100%;
  border: 3px solid transparent;
}

.round-thumbnail:hover {
  border: 3px solid $contrast-color;
  border-radius: 100%;
  cursor: pointer;
}

.dropdown-menu {
  background-color: $background-light;
  li a {
    color: $dark-font-color;
  }

  li a:hover {
    color: $contrast-color!important;
    background-color: $background-light!important;
    border-bottom: 3px solid $background-light;
  }
}


// general

th, td {
  text-align: center;
}

hr {
  border-color: $main-dark-color;

  border-width: 1px 0;
  margin: 15px 0;
}

hr.white {
  border-color: $background-light;
  border-width: 1px 0;
  margin: 5px 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

.carousel-caption h2 {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-caption h3 {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background-color: $background-dark;
  color: $dark-font-color;
}

.book_card {
  margin-top: 1%;
  border-radius: 5px;
  background-color: $background-light;
  padding: 35px;
}


.square-thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-check-label {
  padding-left: 5px;
}

.l-profile-image{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0px 15px;
}

.l-profile-image-bg {
  @extend .l-profile-image;
  width: 90px;
  height: 90px;
}

.l-login-nav {
  margin-right: 15px;
}

.l-profile-link {
  margin-top: 30px;
}

.white-font {
  color: white;
}

.top-5px {
  margin-top: 5px;
}

.left-15px {
  margin-left: 15px;
}
// notifications

.biblo-notice {
  background-color: $neutral-color;
  border-color: $neutral-color;
  padding: 8px;
  border-radius: 4px;
}

.biblo-alert {
  background-color: $neutral-color;
  // position
  position:absolute;
  z-index:1;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  // borders
  margin-top: 0.3%;
  border-radius: 0 4px 4px 0px;
  border-bottom: 0;
  border-top: 0;
  border-color: transparent;
  border-left: 8px solid $contrast-color;

  .content {
    color: $dark-font-color;
  }
}

// buttons

.btn-info {
  margin-right: 5px;
}

.btn-classic, .btn-classic:hover {
  background-color: $secondary-color;
  color: $light-font-color;
}

.btn-neutral, .btn-neutral:hover {
  background-color: $neutral-color;
  color: $dark-font-color;
}

.btn-contrast, .btn-contrast:hover {
  background-color: $contrast-color;
  color: $light-font-color;
}


// layout

.left-alignment { float: left; }

.margin-top-1-per { margin-top: 1%; }

.centered-text { text-align: center; }

.margin-4-sides { margin: 0 4px }
.margin-4-right { margin-right: 4px }


.flex-row {
  display: flex;
  justify-content: center;
}

.overlay-gradient:before {
  content: '';
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(65, 182, 200, 0.5) 0%, rgba(63, 0, 56, 1) 100%);
  z-index: 1;
}

.color-connector {
  width: 100%;
  height: 15px;
  background-color: $main-dark-color;
}

.left {
  border-left: 1px solid $main-dark-color;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

.bottom-located {
  position: absolute;
  bottom:   0;
}


.fixed-width-75 { width: 75px }

.finished {
  background: $background-dark;
}

.requested {
  background: gold;
}

.accepted {
  background: $secondary-color;
}

.delivery_confirmed, .reception_confirmed {
  background: lightgreen;
}

.rejected {
  background: $contrast-color;
}

#barcode-scanner canvas.drawingBuffer, #barcode-scanner video.drawingBuffer {
  display: none;
}

#barcode-scanner canvas, #barcode-scanner video {
  width: 100%;
  height: auto;
}

.footer {
  background-color: $contrast-color;
}

.footer.title {
  color: $background-light;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}