@import "bootstrap-sprockets";
@import "bootstrap";
@import "flag-icon";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";
@import "typography";
@import "map";
@import "bootstrap-slider";
@import "animate";
@import "navbar";
@import "rating";
@import "arrow";
@import "carousel";


// general

th, td {
  text-align: center;
  vertical-align: middle!important;
}

hr {
  border-color: $main-dark-color;
  border-width: 1px 0;
  margin: 15px 0;
}

hr.grey {
  width: 100%;
  border-color: $background-dark;
  border-width: 1px 0;
  margin: 5px 0;
}

hr.white {
  border-color: $background-light;
  border-width: 1px 0;
  margin: 5px 0;
}

.pacific {
  color: $background-light;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  margin-top: 60px;
  background-color: $main-dark-color;
  color: $dark-font-color;
}

.book_card {
  margin-top: 1%;
  border-radius: 5px;
  background-color: $background-light;
  padding: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book_card_home {
  width: 100%;
  height: 300px;
  background-color: $neutral-primary;
}


.square-thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-check-label {
  padding-left: 5px;
}

.l-profile-image{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0px 15px;
}

.l-profile-image-bg {
  @extend .l-profile-image;
  width: 90px;
  height: 90px;
}

.l-login-nav {
  margin-right: 15px;
}

.l-profile-link {
  margin-top: 30px;
}

.white-font {
  color: white;
}

.top-5px {
  margin-top: 5px;
}

.top-15px {
  margin-top: 15px;
}

.left-15px {
  margin-left: 15px;
}

.side-margin-5px { margin: 0 5px; }
// notifications

.biblo-notice {
  background-color: $neutral-color;
  border-color: $neutral-color;
  padding: 8px;
  border-radius: 4px;
}

.biblo-alert {
  background-color: $neutral-color;
  // position
  position:absolute;
  z-index:1;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  // borders
  margin-top: 0.3%;
  border-radius: 0 4px 4px 0px;
  border-bottom: 0;
  border-top: 0;
  border-color: transparent;
  border-left: 8px solid $contrast-color;

  .content {
    color: $dark-font-color;
  }
}

// buttons

.btn-info {
  margin-right: 5px;
}

.btn-classic, .btn-classic:hover, .btn-classic:focus {
  background-color: $secondary-color;
  color: $light-font-color;
}

.btn-neutral, .btn-neutral:hover, .btn-neutral:focus {
  background-color: $neutral-color;
  color: $dark-font-color;
}

.btn-contrast, .btn-contrast:hover, .btn-contrast:focus {
  background-color: $contrast-color;
  color: $light-font-color;
}


// layout

.left-alignment { float: left; }

.margin-top-1-per { margin-top: 1%; }

.centered-text { text-align: center; }

.margin-4-sides { margin: 0 4px }
.margin-4-right { margin-right: 4px }

.full-width { width: 100% }

.col-md-3 { padding-left: 0px; }

.flex-row {
  display: flex;
  justify-content: center;
}

.overlay-gradient:before {
  content: '';
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(65, 182, 200, 0.5) 0%, rgba(63, 0, 56, 1) 100%);
  z-index: 1;
}

.color-connector {
  width: 100%;
  height: 15px;
  background-color: $main-dark-color;
}

.left {
  border-left: 1px solid $main-dark-color;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

.bottom-located {
  position: absolute;
  bottom:   0;
}


.fixed-width-75 { width: 75px }

.finished {
  background: $background-dark;
}

.requested {
  background: gold;
}

.accepted {
  background: $secondary-color;
}

.delivery_confirmed, .reception_confirmed {
  background: lightgreen;
}

.rejected {
  background: $contrast-color;
}

#barcode-scanner canvas.drawingBuffer, #barcode-scanner video.drawingBuffer {
  display: none;
}

#barcode-scanner canvas, #barcode-scanner video {
  width: 100%;
  height: auto;
}

.footer {
  background: linear-gradient(to bottom, $neutral-primary, $main-dark-color);
}

.prefooter {
  height: 100px;
  background: linear-gradient(to bottom, $main-dark-color, $neutral-primary);
}

.footer.title {
  color: $background-light;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadowed {
  -webkit-filter: drop-shadow(3px 3px 3px $background-light);
  filter: drop-shadow(1px 1px 1px $neutral-primary);
}

.home-icon {
  width: 90%;
  margin-top: 20px;
  position: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 12px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s ease;
}

.home-icon-small {
  width: 100px;
  margin-right: 50px;
  transition: 0.2s ease;
}

.home-icon:hover, .home-icon-small:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.2s ease;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.shorthand {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.longhand {
  -webkit-flex-flow: wrap row;
  flex-flow: wrap row;
}

.carousel-caption {
  color: $biblo-white;
}

.merriweather {
  font-family: 'Merriweather', serif;
  color: $background-light;
  font-size: 1.5em;
}

.dosis {
  margin-top: 3px;
  font-family: 'Dosis', sans-serif;
}

.home-map {
  height: 500px;
  width: 100%;
}

.map-text {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.divider-home {
  background: $neutral-primary;
  height: 80px;
}

.div-home {
  padding: 0px 15px;
  background: $neutral-primary;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.wrap-skew {
  width: 800px;
  top: -100px;
  transform: rotate(30deg);
  position: absolute;
  height: 1000px;
}

.div-skew {
  background: url("https://data.whicdn.com/images/40127583/original.jpg");
  left: 50%;
}

.div-skew-short {
  background: url("http://teachmag.com/wp-content/uploads/2010/09/boysarentlearning2.jpg");
  left: 60%;
  height: 1000px;
}

.div-skew {
  background: url("https://data.whicdn.com/images/40127583/original.jpg");
  left: 50%;
}

.div-skew-short {
  background: url("http://teachmag.com/wp-content/uploads/2010/09/boysarentlearning2.jpg");
  left: 60%;
}

.div-skew-left {
  background: url("https://fotografias.antena3.com/clipping/cmsimages01/2016/12/07/D6347890-C56B-42C9-AEE6-5251CA73B9CD/58.jpg");
  right: 60%;
}

.div-skew-left-short {
  background: url("https://data.whicdn.com/images/106109781/original.jpg");
  right: 70%;
}

.rating > label {
  color: #ddd;
  float: right;
}
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

