.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

.carousel-caption h2 {
  font-size: 4em;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-caption h3 {
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-caption h4 {
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}