//rating
.rating {
  border: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  position: relative;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.modal-color { background-color: $background-light }

.margin-stars { margin: 5px 5px }

.comment-rating {
  margin: 5px 0;
}

.rating-margin { margin: 5px 0px }

.modal-dialog { margin: 10% auto !important; }

.modal-header-border-radius { border-radius: 5px 5px 0px 0px }

.modal-header-body-radius { border-radius: 0px 0px 5px 5px }

.bold {
  font-weight: bold;
  font-size: 16px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-flex-child { margin: auto 0px; }

.star-size { font-size: 25px }

.calification-separation {
  margin: 10px 5%;
  border-top: 1px solid #e5e5e5;
}

.rating-block{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px 15px 20px 15px;
  border-radius:3px;
}

.review-block{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px;
  border-radius:3px;
  margin-bottom:15px;
}
.review-block-name{
  font-size:12px;
  margin:10px 0;
}
.review-block-date{
  font-size:12px;
}
.review-block-rate{
  font-size:13px;
  margin-bottom:15px;
}
.review-block-title{
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}
.review-block-description{
  font-size:13px;
}